.app-header {
  padding: 20px;
  margin: 20px;
  border: 0.5px solid gray;
  border-radius: 5px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

/* margin and padding fix */
ul.nav-links {
  margin: 0;
  padding: 0;
}
